<br>
<div class="container">
    <%= link_to "Add Product",new_product_path, remote: true, class: 'btn btn-primary btn-sm' %>
    <%= link_to "Add Order", new_order_path, remote: true, class: 'btn btn-primary btn-sm' %>
</div>

<div id="myModel" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Form</h4>
            <button type="button" class="close btn btn-secondary btn-sm" data-bs-dismiss="modal">close</button>  
        </div>
        <div class="modal-body">
        </div>
        
    </div>
  </div>
</div>


<%#= javascript_pack_tag 'order_index' %>
