<br>
<div class="container">
    <%#= link_to "Add Product",new_product_path, remote: true, class: 'btn btn-primary btn-sm' %>
    <%#= link_to "Add Order", new_order_path, remote: true, class: 'btn btn-primary btn-sm' %>
    <%#= link_to "Sigh up", new_member_session_path, class: 'btn btn-primary btn-sm' %>
</div> 

