<br />
<% if user_signed_in? %>
<div class="container">
  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Show</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody id="productData">
      <%= render partial: "formdata", collection: @products, as: :product%>
    </tbody>
  </table>
</div>
<% end %>
<div class="container">
  <%#= link_to "Add Product",new_product_path, id:'addproduct', remote: true,
  class:'btn btn-secondary btn-sm' %>
  <br />
</div>
