<br>
  <% if user_signed_in? && current_user.admin? %>
   <%= link_to "Send csv", export_path, class:'btn btn-primary btn-sm', style:"text-decoration:none; font-size:20px; margin:20px;" %><br>
  <% end %>
  <%#= link_to "download csv", products_path(format: "csv"), style:"text-decoration:none; font-size:20px;" %>
  <tbody id="productData">
    <% render partial: "formdata", collection: @products, as: :product %>
  </tbody>  
  <div id="index">
    <%= render 'next_link' %>
  </div>
  <div id="searchResult">
  </div>
  <%= render 'datatable' %>















