<br>
  <tbody id="productData">
      <% render partial: "formdata", collection: @products, as: :product %>
  </tbody>  
<div id="index">
  <%= render 'next_link' %>
</div>
<div id="searchResult">
</div>

















